SERVER_PORT = 8080
SERVER_LOG_LEVEL = debug
SERVER_PRETTY_LOG = true

DATABASE_HOST = db
DATABASE_PORT = 5432
DATABASE_USER = hackathon_user
DATABASE_PASSWORD = hackathon_secret
DATABASE_DB_NAME = hackathon_db
DATABASE_SSL_MODE = disable 
# DATABASE_SSL_MODE = disable (local), require (prod)

POSTGRES_USER = hackathon_user
POSTGRES_PASSWORD = hackathon_secret
POSTGRES_DB = hackathon_db

JWT_SECRET = hackathon_super_secret_key_2024
JWT_EXPIRATION_HOURS = 72

STORAGE_UPLOAD_DIR = /tmp
STORAGE_MAX_SIZE_MB = 8
STORAGE_ALLOWED_TYPES = image/jpeg,image/png,image/gif